---
- name: Cleanup Unbound Podman container
  # "stop" is enough to delete because of "run --rm"
  command: podman stop {{ podman_container_id }}

- name: Git commit Unbound data
  shell:
    cmd: |
      cat <<EOF | git commit -aF -
      Commit by Ansible

      Ansible Tower
        Job ID: https://tower.example.com/#/jobs/playbook/{{ tower_job_id | default('n/a') }}
        Job Template Name: {{ tower_job_template_name | default('n/a') }}
      EOF
    chdir: "{{ unbound_data_dir }}"

- name: Git push Unbound data
  # Assuming ~/.gitconfig and ~/.ssh/id_rsa exist.
  command: # noqa 303
    cmd: git push
    chdir: "{{ unbound_data_dir }}"

- name: Cleanup local Unbound data repository
  file:
    path: "{{ unbound_data_dir }}"
    state: absent
