server:
  interface: "{{ unbound_listen_address }}"
  access-control: "{{ unbound_network_cidr_to_allow }}" allow
  do-ip6: no

  # Debug log options.
  # To change log level dinamically: "unbound-control verbosity 5"
  verbosity: 1
  # To check log: "journalctl -fu unbound"
  use-syslog: yes
  # To change dinamically: "unbound-control set_option log-queries: yes"
  log-queries: no
  # To change dinamically: "unbound-control set_option log-replies: yes"
  log-replies: no

forward-zone:
  name: "."
  forward-addr: "{{ unbound_default_nameserver }}"
